  <div class="file-upload-template">
    <div nv-file-drop="" nv-file-over="" 
      uploader="uploader" over-class="other-over-zone" 
      class="other-drop-zone"
      log-click="Загрузка файлов::Зона <drag-and-drop> для присоединения файлов"> 
      <input type="file" nv-file-select="" uploader="uploader" ng-model="model"
      multiple filters="customFilter" style="opacity:0.01;width:48px;height:48px;position:relative;" class="touch">
    </div>
    <span ng-if="uploader.queue.length">
    <table class="table"  style="display: none">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th ng-show="uploader.isHTML5">Size</th>
          <th ng-show="uploader.isHTML5">Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in uploader.queue">
          <td>
            <strong>{{ item.file.name }}</strong>
            <!--
              div ng-if="controller.isImage(item._file)" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div
            -->
          </td>
          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button"
                    class="btn btn-success btn-xs"
                    ng-click="item.upload()"
                    ng-disabled="item.isReady || item.isUploading || item.isSuccess"
                    log-click="Загрузка файлов::Кнопка <Загрузить файл> в списке файлов для загрузки">
              <span class="glyphicon glyphicon-upload"></span>
            </button>
            <button type="button"
                    class="btn btn-warning btn-xs"
                    ng-click="item.cancel()"
                    ng-disabled="!item.isUploading"
                    log-click="Загрузка файлов::Кнопка <Отменить загрузку файла> в списке файлов для загрузки">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </button>
            <button type="button"
                    class="btn btn-danger btn-xs"
                    ng-click="item.remove()"
                    log-click="Загрузка файлов::Кнопка <Удалить файл их списка файлов для загрузки> в списке файлов для загрузки">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div style="display: none">
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button"
              class="btn btn-success btn-s"
              ng-click="uploader.uploadAll()"
              ng-disabled="!uploader.getNotUploadedItems().length"
              log-click="Загрузка файлов::Кнопка <Загрузить все файлы> в списке файлов для загрузки">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button"
              class="btn btn-warning btn-s"
              ng-click="uploader.cancelAll()"
              ng-disabled="!uploader.isUploading"
              log-click="Загрузка файлов::Кнопка <Отменить загрузку всех файлов> в списке файлов для загрузки">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button type="button"
              class="btn btn-danger btn-s"
              ng-click="uploader.clearQueue()"
              ng-disabled="!uploader.queue.length"
              log-click="Загрузка файлов::Кнопка <Очистить список файлов для загрузки> в списке файлов для загрузки">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>
  </div>
