<par>
    В карточке фабрики "{{ objContact.ContactName }}" не акцептованы скидки.
    <br>
    Для того, чтобы выполнить акцептацию, откройте карточку фабрики и в закладке "Условия работы" в скидках нажмите на действие "акцептовать".
    <br><br>
    <a style="text-decoration: underline" href="/#/discus/{{ objContact.unid }}/contact" target="_blank">
        открыть карточку фабрики
    </a>
    <br><br>
    <span style="color: red">
    Внимание!
    <br>
    Если Вы закроете эту просьбу, но не акцептуете скидки в карточке фабрики, то на следующий день будет создана новая просьба на акцептацию, и так до тех пор, пока Вы не акцептуете скидки.
    </span>
</par>