<par>
    В карточке фабрики "{{ objContact.ContactName }}" истекает срок действия скидки.
    <br>
    Внесите информацию о новых сроках действия..
    <br><br>
    <a style="text-decoration: underline" href="/#/discus/{{ objContact.unid }}/contact" target="_blank">
        открыть карточку фабрики
    </a>
    <br><br>
    <span style="color: red">
    Внимание!
    <br>
    Если Вы закроете эту просьбу, но не внесете новые сроки действия у скидок в карточке фабрики, то на следующий день будет создана новая просьба, и так до тех пор, пока не будут внесены новые сроки действия скидок.
    </span>
</par>