<div class="edit-doc center" ng-controller="modalEditContact" ctrl-enter="contact.LastName && contact.FirstName && contact.ContactStatus.length?ok():false">
  <div class="container text-s12 panel marbot0 pad0force" style="position: relative;">
      <button type="button" class="close pull-right marright5"
        ng-click="close()"
        style="position: absolute;top: 0;right: 0;z-index: 1001"
        title="Закрыть"
        log-click="Контакты::Кнопка <Закрыть> в окне редактирования персоны">
        &times;
    </button>
    <div ng-include="'/bundles/tretoportal/partials/editPersonTempl.html'"></div>
</div>