<div class="edit-doc center">
  <div class="container text-s12 panel marbot0 pad0force" ng-controller="modalEditForm" style="position: relative;" ctrl-enter="discus.saved && discus.current.subject?ok(true):false">
    <button type="button" class="close pull-right marright5"
            ng-click="close()"
            style="position: absolute;top: 0;right: 0;z-index: 1001"
            title="Закрыть"
            log-click="Дискуссии::Кнопка <Закрыть> в окне редактирования темы">
            &times;
    </button>
    <div ng-include="'/bundles/tretoportal/partials/doc_templ/common/sections.html'"></div>
    <div class="modal-header" ng-if="discus.current.C2=='Вакансии'">
      <md-checkbox
        ng-model="discus.current.ToSite"
        ng-true-value="'1'"
        ng-false-value="'0'"
        log-click="Дискуссии::Галка <Опубликовать на сайте> в окне редактирования темы">
        Опубликовать на сайте
      </md-checkbox>
      <md-checkbox
        ng-init="discus.current.isArchive = discus.current.isArchive?discus.current.isArchive:'0'"
        ng-model="discus.current.isArchive"
        ng-true-value="'1'"
        ng-false-value="'0'"
        log-click="Дискуссии::Галка <Архивная вакансия> в окне редактирования темы">
        Архивная вакансия
      </md-checkbox>
    </div>
    <div class="modal-header" ng-if="discus.current.C2=='Вакансии'">
    <span ng-repeat="record in discus.vacancyRegionDict.records" >
       <input type="checkbox" class="from-control"/>
       <label ng-click="discus.toggleArrayElement(discus.current,'SelectRegion',record.key);"
              ng-class="(discus.current.SelectRegion && discus.current.SelectRegion.indexOf(record.key)) > -1 ? 'checked' : ''"
              log-click="Дискуссии::Галка <{{record.value}}> в окне редактирования темы">
          {{record.value}}
       </label>
    </span>
    </div>
    <div class="modal-header" ng-if="discus.current.C2=='Вакансии'">
      <input class="text-s16"
             type="text"
             ng-model="discus.current.archiveVacUnid"
             placeholder="unid архивной вакансии"
             id="unidArchive"
             log-click="Дискуссии::Поле <unid архивной вакансии> в окне редактирования темы"/>
    </div>
    <div class="modal-header" ng-if="discus.current.C2=='Вакансии'">
      <table class="width100per">
        <tr>
          <td class="pad0_15">
            <input type="text"
                   ng-model="discus.current.SEOTitle"
                   placeholder="{{$root.localize('title','seo')}}"
                   title="{{$root.localize('title','seo')}}"
                   log-click="Дискуссии::Поле <SEO заголовок для продвижения> в окне редактирования темы"/>
          </td>
          <td class="pad0_15">
            <input type="text"
                   ng-model="discus.current.SEODescription"
                   placeholder="{{$root.localize('description','seo')}}"
                   title="{{$root.localize('description','seo')}}"
                   log-click="Дискуссии::Поле <SEO описание для продвижения> в окне редактирования темы"/>
          </td>
          <td class="pad0_15">
            <input type="text"
                   ng-model="discus.current.SEOKeywords"
                   placeholder="{{$root.localize('keywords','seo')}}"
                   title="{{$root.localize('keywords','seo')}}"
                   log-click="Дискуссии::Поле <SEO ключевые слова для продвижения> в окне редактирования темы"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal-header" ng-if="discus.current.C2=='Вакансии'">
      <table class="width100per" ng-init="discus.initQuestionaries();">
        <tr>
          <td style="position:relative;" uib-dropdown>
            <input type="text"
                   placeholder="Опросник"
                   ng-value="discus.questionariesList[discus.current.QuestionaryID]"
                   uib-dropdown-toggle
                   log-click="Дискуссии::Поле <Опросник> в окне редактирования темы"/>
            <span class="caret input"></span>
            <ul class="dropdown-menu" role="menu" style="overflow-y:auto;max-height:200px">
              <li ng-repeat="(unid, name) in discus.questionariesList">
                <a class="text-s11" href ng-click="discus.current.QuestionaryID = unid">{{ name }}</a>
              </li>
            </ul>
          </td>
          <td class="narrow" style="max-width: 350px;overflow: hidden;">
          <span ng-repeat="name in discus.current.VacManager">
            <span class="participant-element">
              <span>{{name}}</span>
              <a href ng-click="discus.delVacManager(name, discus.current)"
                 log-click="Дискуссии::Кнопка <Удалить менеджера> в окне редактирования темы">
                 &times;
              </a>
            </span>
          </span>
          </td>
          <td>
            <input type="text" ng-model="person.login" placeholder="Менеджер"
                   uib-typeahead="user.name as user.name for user in discus.profile.portalDataAutocomplete($viewValue)"
                   typeahead-loading="loadingNames"
                   typeahead-wait-ms="800"
                   typeahead-on-select="discus.addVacManager($item.name, discus.current);person.login='';"
                   style="width: 100%;"
                   log-click="Дискуссии::Поле <Менеджер> в окне редактирования темы"/>
          </td>
          <td class="narrow">
          <span uib-dropdown style="position:relative;">
            <span class="grey touch" uib-dropdown-toggle>...</span>
            <ul class="dropdown-menu" role="menu" style="bottom:0;right:0;left:initial;top:initial;overflow-y:auto;max-height:200px">
              <li ng-repeat="name in discus.current.VacManager">
                <a ng-click="" class="touch text-s11">
                  {{name}}
                  <span ng-click="discus.delVacManager(name, discus.current);$event.stopPropagation();">&times;</span>
                </a>
              </li>
            </ul>
          </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal-header" ng-if="discus.current.C2=='Вакансии'">
      <textarea
        class="input-sm form-control"
        ng-model="discus.current.VacAnnotation"
        placeholder="Аннотация к вакансии"
        style="border-bottom: none;box-shadow: none;resize:none;"
        log-click="Дискуссии::Поле <Аннотация к вакансии> в окне редактирования темы">
        {{discus.current.VacAnnotation}}
      </textarea>
    </div>
    <div class="modal-header" style="overflow-y:initial;">
      <input class="text-s16"
             type="text"
             ng-attr-placeholder="{{discus.current.type=='Blog' ? 'Блог: название' : 'Тема: название'}}"
             ng-model="discus.current.subject"
             log-click="Дискуссии::Поле <Название> в окне редактирования темы"/>
      <!-- <text-angular name="body" ng-model="discus.current.body" ta-target-toolbars='toolbar' ta-text-editor-class="input" placeholder="Введите текст"></text-angular> -->
      <t-mce ng-if="discus.current.unid"
             model="discus.current.body"
             log-click="Дискуссии::Поле <Введите текст> в окне редактирования темы"></t-mce>
      <div ng-if="!discus.current.unid">Подождите...</div>
    </div>
    <div class="modal-header" ng-if="partDoc=discus.current">
      <div ng-include="'/bundles/tretoportal/partials/doc_templ/common/select-participants.html'"></div>
    </div>
    <div class="row modal-header" ng-if="discus.current.attachments.length > 0 || $root.uploader.isUploading" style="margin-right: 0px; margin-left: 0px;">
      <div ng-if="$root.uploader.progress > 0 && $root.uploader.isUploading" class="progress-thin pad0force">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': $root.uploader.progress + '%' }"></div>
      </div>
      <upload-list model="discus.current.attachments" template-url="listing"></upload-list>
    </div>
    <div class="modal-header custom-toolbar relative" ng-init="pasteScreenShot = {value: false}"
         ng-class="{'padtop70': pasteScreenShot.value}">
      <div ng-if="discus.current.unid" ng-show="showTags == true" ng-init="doc = discus.current">
        <div style="margin-bottom: 5px;" ng-include="'/bundles/tretoportal/partials/doc_templ/common/select-tags.html'"></div>
      </div>
      <button class="btn btn-info btn-xs marright10"
              ng-click="ok(true)"
              ng-disabled="!discus.saved || !discus.current.subject"
              copy-body
              log-click="Дискуссии::Кнопка <Сохранить> в окне редактирования темы">
              Сохранить
      </button>
      <!-- <span popover-placement="right" uib-popover-template="'/bundles/tretoportal/partials/doc_templ/common/textAngularToolBar.html'" class="ico click style-toolbar marside10" title="Панель форматирования"></span> | -->
    <span ng-if="discus.current.unid">
      <upload-box upload-options="{ collection: discus.getDatabaseCollection(discus.current), unid: discus.current.unid }" auto="true" multiple="true" model="discus.current.attachments" templ="discus_ico.html"></upload-box>
    </span>
      <span id="mytoolbar" class="pull-right"></span>
    </div>
  </div>