/web/bundles/
/web/public/img_site/
/web/1
/web/temp_log.txt
/web/public/css/companies/
/app/bootstrap.php.cache
/app/cache/*
/app/upload
/app/var
/app/console-cache/*
/app/config/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/composer.phar
/*.clpprj
/*.komodoproject
/.komodotools
/_gsdata_
/web/app_127.php
/.idea
/chat/
/service/portal_crontab
/src/Treto/PortalBundle/Resources/config/serviceParameters.yml
/app/resume/log_1C.txt
/node_modules/
