<div>
  <ul class="list-inline">
    <li class="black text-s15">Информеры</li>
  </ul>
  <div>
    <a href="http://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*http://pogoda.yandex.ru/moscow"
       log-click="Информены::Ссылка на погоду в информерах">
      <img src="http://info.weather.yandex.net/moscow/1_white.ru.png" border="0" alt=""/><img width="1" height="1" src="http://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*http://img.yandex.ru/i/pix.gif" alt="" border="0"/>
    </a>
  </div>
  <div style="float:left;">
    <a href="http://www.finmarket.ru" target="_blank"
       log-click="Информены::Ссылка на курсы валют в информерах">
      <img align="top" alt="Курс ЦБ РФ и Forex EUR/USD - ИА «Финмаркет»" border="0" hspace="5" src="http://extds.finmarket.ru/informersgif/cdusdfx1.gif" vspace="5">
    </a>
  </div>
  <div style="float:left;">
    <a href="http://clck.yandex.ru/redir/dtype=stred/pid=30/cid=533/*http://maps.yandex.ru/moscow_traffic"
       style="background-image:url(http://clck.yandex.ru/click/dtype=stred/pid=30/cid=529/*http://ya.ru)"
       log-click="Информены::Ссылка на пробки на Яндекс картах в информерах">
      <!-- */--><img src="http://info.maps.yandex.net/traffic/moscow/current_traffic_88.gif" alt="Пробки на Яндекс.Картах" border="0">
    </a>
  </div>
</div>
