<div ng-init="collapseOrg=getBlockState('collapseOrg');">
  <div class="side-header">
    <div ng-click="collapseOrg=getBlockState('collapseOrg', true);"
         class="side-collapse touch"
         log-click="Главная::Кнопка-стрелка <Показать\скрыть> блок <Новые организации> на главной">
      <i ng-hide="collapseOrg" class="material-icons">arrow_drop_down</i>
      <i ng-show="collapseOrg" class="material-icons">arrow_drop_up</i>
    </div>
    <ul class="list-inline">
      <li class="text-s12">
        <a href class="black" ui-sref="body.contacts.type({thistype: 'organization'})"
           log-click="Главная::Ссылка <Новые организации> на страницу контактов в блоке <Новые организации> на главной">
          Новые организации
        </a>
      </li>
    </ul>
  </div>
  <div class="side-body" ng-show="collapseOrg">
    <ul class="list-unstyled newOrganizations">
      <li ng-repeat="n in contacts" ng-init="new = daysAgo(n.created, 1)">
        <span class="icon-organization"></span>
        <a ui-sref='body.discus({id: n.unid, "type": "contact"})'
           title="{{::(n.subject||n.ContactName||n.LastName)}}({{::n.ContactName}}"
           log-click="Главная::Ссылка на карточку организации в блоке <Новые организации> на главной">
          {{::(n.subject||n.ContactName||n.LastName)}}({{::n.ContactName}}, {{::n.created | limitTo:8 | datetime}})
        </a>
        &nbsp<span class="new-post discus-label" ng-if="new" style="margin-top: -12px;">NEW</span>
      </li>
    </ul>
    <div ng-if="loadingContacts" class="text-center padbot10"><i class="spinner"></i></div>
    <div ng-if="!loadingContacts && contacts.length == 0" style="margin-bottom: 10px; text-align: center;"><small>Нет активных обсуждений</small></div>
  </div>
</div>
