<p>Здравствуйте, {{contact['FirstName']}}.</p>
<p>Мы бы хотели познакомиться с Вами и узнать о Вас больше, просим заполнить нашу анкету.
Ссылка на анкету: <a href="https://tile.expert/ru/jobs/interview/{{questionary['unid']}}">Анкета</a></p>
<p>Гарантируем конфиденциальность Ваших данных и использование их только в целях ознакомления.</p>
<p>
С пожеланием успехов,<br>
{{user['LastName']}} {{user['name']}}<br>
Рекрутер, "Tile Expert"
почта: <a href=hr@tile.expert>hr@tile.expert</a><br>
</p>