<p>Здравствуйте, {{contact['FirstName']}}.</p>
<p>Для того, чтобы мы могли лучше оценить Ваш профессиональный уровень, а Вы – получить более полное представление о тех задачах, которые Вам нужно будет решать, работая в Tile.Expert, мы предлагаем Вам заполнить опросник.
Ссылка на опросник: <a href="https://tile.expert/ru/jobs/interview/{{questionary['unid']}}">Опрос</a></p>
<p>После получения ответов мы обязательно свяжемся с Вами в течение 2-х рабочих дней, чтобы сообщить результаты. Если ответы будут достаточно подробными и интересными, мы продолжим общение в он-лайн интервью и с большой вероятностью пригласим Вас в нашу команду.</p>
<p>Если у Вас есть вопросы по вакансии, о компании или по заданию - Вы всегда можете задать их мне по почте или в чате (контакты ниже).
</p>
<p>Гарантируем конфиденциальность всей предоставленной Вами информации и ее использование только в целях ознакомления.</p>
<p>
С пожеланием успехов,<br>
{{user['LastName']}} {{user['name']}}<br>
Рекрутер, "Tile Expert"
почта: <a href=hr@tile.expert>hr@tile.expert</a><br>
</p>