<section class="full-page-container">
    <form class="stat-controlls">
        <div class="participants marbot10">
            <add-participants new
                ngmodel="stat.params.state.users"
                multiple="true"
                placeholder="'Фильтр'"
                section="false"
                typeaheadexpr="'user in $root.usersArr | filter:md.searchParticipant'"
                share-enable="false"></add-participants>
            <!--<div class="bordbot_c9 padbot10 marbot15" style="height: 36px;">
            <img class="padtop5" src="/public/images/tasks/employee.png" style="position: absolute;">
            <div class="form-group padleft25">
                <add-participants ngmodel="stat.params.state.users" multiple="true" placeholder="'Сотрудники'"
                addhandler="graph.options.show && graph.addGraph(item.id);" removehandler="graph.options.show && graph.redraw();" query="" section="false"
                typeaheadexpr="'user.shortName as user.shortName for user in $parent.profile.portalDataAutocomplete($viewValue)'"></add-participants>
            </div>
            </div>-->
        </div>

        <div class="period-datapickers-wrap">
            <md-datepicker
                ng-model="period.start"
                md-min-date="minDate"
                md-max-date="period.end || maxDate"
                ng-change="period.type = 'custom'; changeDate();"
                md-open-on-focus
                md-placeholder="с"
                log-click="Статистика::Выбор даты периода <c> числа для отбора статистики">
            </md-datepicker>

            <md-datepicker
                ng-model="period.end"
                md-min-date="period.start || minDate"
                md-max-date="maxDate"
                ng-change="period.type = 'custom'; changeDate();"
                md-open-on-focus
                md-placeholder="по"
                log-click="Статистика::Выбор даты периода <по> число для отбора статистики">
            </md-datepicker>
        </div>

        <div class="period-thumbler-wrap">
            <ul class="period-thumbler">
            <li>
                <a href class="blue radio-link"
                    ng-class="{active: period.type === 'day'}"
                    ng-click="stat.fastSelectPeriod('day'); changeDate();"
                    log-click="Статистика::Переклюатель периода <за вчера> на странице статистики">за вчера</a>,
            </li>
            <li>
                <a href class="blue radio-link"
                    ng-class="{active: period.type === 'week'}"
                    ng-click="stat.fastSelectPeriod('week'); changeDate();"
                    log-click="Статистика::Переклюатель периода <за неделю> на странице статистики">неделю</a>,
            </li>
            <li>
                <a href class="blue radio-link"
                    ng-class="{active: period.type === 'month'}"
                    ng-click="stat.fastSelectPeriod('month'); changeDate();"
                    log-click="Статистика::Переклюатель периода <за месяц> на странице статистики">месяц</a>,
            </li>
            <li>
                <a href class="blue radio-link"
                    ng-class="{active: period.type === 'quarter'}"
                    ng-click="stat.fastSelectPeriod('quarter'); changeDate();"
                    log-click="Статистика::Переклюатель периода <за квартал> на странице статистики">квартал</a>,
            </li>
            <li>
                <a href class="blue radio-link"
                    ng-class="{active: period.type === 'year'}"
                    ng-click="stat.fastSelectPeriod('year'); changeDate();"
                    log-click="Статистика::Переклюатель периода <за год> на странице статистики">год</a>,
            </li>
            <li>
                <a href class="blue radio-link"
                    ng-class="{active: period.type === 'full'}"
                    ng-click="stat.fastSelectPeriod('full'); changeDate();"
                    log-click="Статистика::Переклюатель периода <за весь период> на странице статистики">весь период</a>
            </li>
            </ul>
        </div>
    </form>

    <div ng-show="!loadingDailyStat">
        <table class="modern-table table-fixed messages-stat-table"
               ng-init="sort.property !== 'messagesCount' ? sortBy('messagesCount') : ''">
            <thead>
                <tr>
                    <th>
                        <md-icon title="Выберите элементы для построения графика по частоте использования"
                                 style="margin: -2px;">
                            show_chart
                        </md-icon>
                    </th>
                    <th ng-click="sortBy('name')"
                        log-click="Статистика::Сортировка таблицы <болтуны\молчуны> на странице статистики по имени пользователя">
                        Пользователь
                        <md-icon class="sort-toggler"
                                 ng-if="sort.property==='name'">
                            {{sort.reverse?'arrow_downward':'arrow_upward'}}
                        </md-icon>
                    </th>
                    <th ng-click="sortBy('messagesCount')"
                        log-click="Статистика::Сортировка таблицы <болтуны\молчуны> на странице статистики по имени количеству сообщений на портале">
                        <span title="Статистика ведётся с 1 января 2016 года">
                            Кол-во сообщений на портале *
                        </span>
                        <md-icon class="sort-toggler"
                                 ng-if="sort.property==='messagesCount'">
                            {{sort.reverse?'arrow_downward':'arrow_upward'}}
                        </md-icon>
                    </th>
                    <th ng-click="sortBy('themesCount')"
                        log-click="Статистика::Сортировка таблицы <болтуны\молчуны> на странице статистики по количеству созданных тем и просьб на портале">
                        <span title="Статистика ведётся с 1 июля 2016 года">
                            Темы и просьбы на портале *
                        </span>
                        <md-icon class="sort-toggler"
                                 ng-if="sort.property==='themesCount'">
                            {{sort.reverse?'arrow_downward':'arrow_upward'}}
                        </md-icon>
                    </th>
                    <th ng-click="sortBy('tasksEndedCount')"
                        log-click="Статистика::Сортировка таблицы <болтуны\молчуны> на странице статистики по количеству выполненных просьб на портале">
                        <span title="Статистика ведётся с 7 июля 2016 года">
                            Выполненных просьб кол-во/ср. сложность *
                        </span>
                        <md-icon class="sort-toggler"
                                 ng-if="sort.property==='tasksEndedCount'">
                            {{sort.reverse?'arrow_downward':'arrow_upward'}}
                        </md-icon>
                    </th>
                    <th ng-click="sortBy('rocketChatMsgs')"
                        log-click="Статистика::Сортировка таблицы <болтуны\молчуны> на странице статистики по колличеству сообщений в чате">
                        <span title="Статистика ведётся с 1 августа 2016 года">
                            Кол-во сообщений в коммуникаторе *
                        </span>
                        <md-icon class="sort-toggler"
                                 ng-if="sort.property==='rocketChatMsgs'">
                            {{sort.reverse?'arrow_downward':'arrow_upward'}}
                        </md-icon>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in table.messages | orderBy: sort.property : sort.reverse"
                    ng-if="stat.params.state.users.length == 0 || stat.params.state.users.indexOf(item.user) > -1">
                    <td ng-click="$event.stopPropagation()">
                        <md-checkbox md-no-ink
                            ng-click="toggleChecked(item.user)"
                            ng-checked="checked(item.user)"
                            title="Отобразить на графике"
                            aria-label="Отобразить на графике"
                            log-click="Статистика::Галка <Отобразить на графике> в таблице <болтуны\молчуны> на странице статистии"></md-checkbox>
                        <div class="popup-wnd graph-promt-popup"
                             ng-show="showGraphPromtAt===item.user&&checked(item.user)">
                            <div class="marbot10">Показать график?</div>
                            <div class="btns-wrap">
                                <md-button class="md-primary"
                                           ng-click="graphPromtAnswer(true)"
                                           log-click="Статистика::Кнопка <Да> во всплывающем окне <Показать график> в таблице <болтуны\молчуны> на странице статистии">
                                    Да
                                </md-button>
                                <md-button ng-click="graphPromtAnswer(false)"
                                           log-click="Статистика::Кнопка <Нет> во всплывающем окне <Показать график> в таблице <болтуны\молчуны> на странице статистии">
                                    Нет
                                </md-button>
                            </div>
                        </div>
                    </td>
                    <td>{{ ::item.name }}</td>
                    <td>
                        <a href ui-sref="body.showMessagesByUser({ query: stat.getQueryForMessagesByUser(item.user) })"
                           ng-if="::isUserPM"
                           title="Посмотреть на сообщения в хронологическом порядке"
                           log-click="Статистика::Ссылка на страницу всех сообщений пользователя за указанный период в таблице <болтуны\молчуны> на странице статистики">
                            {{ ::item.messagesCount }}
                        </a>
                        <span ng-if="::(!isUserPM)">{{ ::item.messagesCount }}</span>
                    </td>
                    <td>{{ ::item.themesCount }}</td>
                    <td>{{ ::item.tasksEndedCount }}/{{ ::item.tasksEndedDifficulty }}</td>
                    <td>{{ ::item.rocketChatMsgs }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="line-graph-popup-wrap" ng-show="graph.show">
        <div class="line-graph-popup"
             ng-click="$event.stopPropagation()">
             <md-button class="icon-btn close-graph-btn"
                        ng-click="graph.show = false"
                        log-click="Статистика::Кнопка <Закрыть> в окне с графиком на странице статистии">
                <md-icon class="material-icons">
                    close
                </md-icon>
            </md-button>
             <div class="marbot10">
                <md-select
                    ng-model="graph.options.dataSelected"
                    ng-change="redrawGraph()"
                    md-no-ink
                    aria-label="data-selected"
                    class="mar0 marright10"
                    log-click="Статистика::Выбор опции <Строить график по полю> на странице статистики">
                    <md-option
                        ng-repeat="option in graph.drawWithData"
                        ng-value="option.value">
                        {{option.name}}
                    </md-option>
                </md-select>
                
                <span class="va-middle">
                    <span ng-show="graph.options.dataSelected === 'messages'">* Статистика ведётся с 1 января 2016 года</span>
                    <span ng-show="graph.options.dataSelected === 'themes' || graph.options.dataSelected === 'tasks'">* Статистика ведётся с 1 июля 2016 года</span>
                    <span ng-show="graph.options.dataSelected === 'tasksEnded'">* Статистика ведётся с 7 июля 2016 года</span>
                    <span ng-show="graph.options.dataSelected === 'rocketChatMsgs'">* Статистика ведётся с 1 августа 2016 года</span>
                </span>
             </div>
             <div class="marbot10">
                <span class="va-middle">Вид графика: </span>
                <md-select
                    ng-model="graph.options.mode"
                    ng-change="redrawGraph()"
                    md-no-ink
                    aria-label="period-per-knot"
                    class="mar0 marright10"
                    log-click="Статистика::Выбор опции <Вид графика> в окне с графиком на странице статистики">
                    <md-option
                        ng-repeat="option in graph.modes"
                        ng-value="option.value">
                        {{option.name}}
                    </md-option>
                </md-select>
             </div>
             <div class="marbot10">
                <span class="va-middle">Точка на графике - это </span>
                <md-select
                    ng-model="graph.options.periodPerKnot"
                    ng-change="redrawGraph()"
                    md-no-ink
                    aria-label="period-per-knot"
                    class="mar0 marright10"
                    log-click="Статистика::Выбор опции <Точка на графике - это> в окне с графиком на странице статистики">
                    <md-option
                        ng-repeat="option in graph.periodsPerKnots"
                        ng-value="option.value"
                        ng-hide="option.value > 1 && option.value * 2 > (period.end.getTime() - period.start.getTime()) / 86400000">
                        {{option.name}}
                    </md-option>
                </md-select>
                <span class="va-middle">* Неделя и месяц доступны только на больших периодах времени</span>
             </div>
            <line-graph graphs="graph.data" mode="graph.options.mode"></line-graph>
            <div class="legend-wrap">
                <ul>
                    <li ng-repeat="graph in graph.data">
                        <span class="color" ng-style="{'background': graph.color}"></span>
                        <span class="legend" ng-bind="graph.legend"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>