<title>Сотрудники</title>
<section class="user-container mar4 panel no-border">
  <div class="pad0_15 padtop10">
    <h5 class="martop20" ng-init="revSort=true;" ng-click="revSort=!revSort"
        log-click="Адаптационный лист::Сортировка таблицы <Сотрудники> по возрастанию\убыванию на странице адаптационный лист">Сотрудники:</h5>
    <hr class="bordtop_e6">
  </div>
  <div ng-show="!adaptation.documents.length && !adaptation.noDocuments" class="alert alert-info">Загрузка ...</div>
  <div ng-show="adaptation.noDocuments" class="alert alert-info">Адаптационных листов нет.</div>
  <div ng-if="adaptation.documents.length">
    <div class ="table-responsive">
    <table class="table table-striped table-bordered marbot0 bordtop_ed valign-middle no-bord-left no-bord-right">
      <thead>
        <tr>
          <th class="bold bgwhite" style="padding: 15px 8px 15px 15px">Статус</th>
          <th class="bold bgwhite pad15_8">Дата создания</th>
          <th class="bold bgwhite pad15_8">ФИО</th>
          <th class="bold bgwhite pad15_8">Должность</th>
          <th class="bold bgwhite pad15_8">Подразделение</th>
          <th class="bold bgwhite pad15_8">Отдел</th>
          <th class="bold bgwhite pad15_8">Дата найма</th>
          <th class="bold bgwhite pad15_8">Окончание исп. срока</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="adapt in adaptation.documents | orderBy:'created':true">
          <td class="text-center">
            <a class="light-green2"
               href ui-sref="body.discus({ id: adapt.unid, type:''  })"
               log-click="Адаптационный лист::Ссылка на дискуссию адаптации сотрудника на странице адаптационный лист">
               {{adapt.status}}
            </a>
          </td>
          <td class="text-center">
            <a class="light-green2" href ui-sref="body.discus({ id: adapt.unid, type:''  })"
               log-click="Адаптационный лист::Ссылка на дискуссию адаптации сотрудника на странице адаптационный лист">
              {{adapt.created | datetime}}
            </a>
          </td>
          <td>
            <a class="light-green2" href ui-sref="body.discus({ id: adapt.unid, type:''  })"
               log-click="Адаптационный лист::Ссылка на дискуссию адаптации сотрудника на странице адаптационный лист">
               {{adapt.FullNameInRus || adapt.subject}}
            </a>
          </td>
          <td class="text-center">{{adapt.WorkGroup | arrOrStrOutput }}</td>
          <td class="text-center">{{adaptation.departmentDict.getRecordValue(adapt.Department)}}</td>
          <td>{{adapt.section.join(', ')}}</td>
          <td>{{adapt.DtWork | datetime}}</td>
          <td>{{adapt.TestPeriod | datetime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>
