<title>Создание персоны</title>
<div class="col-lg-24 panel pad0force container martop10" ng-controller="contactNewPersonCtrl">
	<div class="modal-body padbot0">
		<div class="row">
			<div class="col-lg-24">
				<span class="text-s16">Персона</span>
			</div>
		</div>
	</div>
	<form ng-submit="submitted = true; ok();" novalidate name="modalForm" ng-init="submitted = false;">
			<div ng-init="isModal = false" ng-include="'/bundles/tretoportal/partials/createPersonTempl.html'"></div>
	</form>
</div>