<div class="martop10">
  <a href class="green pull-right" ng-disabled="!doc.name" ng-click="save()"
     log-click="Банк вопросов::Кнопка <Сохранить> в режиме изменения опросника">Сохранить</a>
</div>
<table class="width100per">
  <tr>
    <td class="narrow">Название:</td>
    <td>
      <input class="form-control input-sm" type="text" ng-model="doc.name"
             log-click="Банк вопросов::Поле <Название> в режиме изменения опросника"/>
    </td>
  </tr>
</table>
    
<div ng-repeat="crit in crits" class="content">
  <p ng-bind="crit.name"></p>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Вопрос</th>
      <th>Описание</th>
    </tr>
    <tr ng-repeat="quest in crit.questions">
      <td>
        <md-checkbox id="input_{{quest.unid}}" ng-model="quest.check"
                     log-click="Банк вопросов::Галка в таблице вопросов в режиме изменения опросника">
        </md-checkbox>
      </td>
      <td>
        <textarea class="form-control" rows="4" ng-model="quest.name"
                  log-click="Банк вопросов::Поле <Вопрос> в таблице вопросов в режиме изменения опросника">
        </textarea>
      </td>
      <td>
        <textarea class="form-control" rows="4" ng-model="quest.Description"
                  log-click="Банк вопросов::Поле <Описание> в таблице вопросов в режиме изменения опросника">
        </textarea>
      </td>
    </tr>
  </table>
</div>
