<article ng-init="discus = $parent.discus;">
  <div class="msg-wrap clearfix"
       ng-init="$root.$state.current.name==='body.notifications' ? discus.expanded[doc.unid] = 'attached' : false">
    <div class="msg-head" ng-include="'/bundles/tretoportal/partials/doc_templ/menu/menu.html'"></div>
    <div class="msg-main">
      <tags-list model="doc.Tags"></tags-list>
      <div ng-if="(discus.main_doc.ToSite == '1' || (discus.main_doc.form == 'Contact' && (discus.main_doc.ContactStatus.indexOf(7) !== -1 ||
      discus.main_doc.ContactStatus.indexOf('7') !== -1 || discus.main_doc.ContactStatus.indexOf(10) !== -1 ||
      discus.main_doc.ContactStatus.indexOf('10') !== -1))) && doc.NotForSite != '1' && doc.locale">
        <div class="green">
          Ответ виден ТОЛЬКО на локаль <b>{{::doc.locale}}</b>
        </div>
      </div>
      <div ng-if="doc.commentMail" class="marbot5">
        <a href="mailto://{{doc.commentMail}}"
           log-click="Дискуссии::Ссылка на e-mail для комментариев в сообщении дискуссии">e-mail: {{::doc.commentMail}}</a>
      </div>
      <div class="title-wrap" ng-if="doc.subject" quote-selection>
          <span title="{{::doc.subject}}">{{::doc.subject}}</span>
      </div>
      <div ng-show="discus.expanded[doc.unid] === true || 
                    discus.expanded[doc.unid] === 'attached' ||
                    discus.expanded[doc.unid] === 'shown'"
           class="animate-show" quote-selection>

        <div ng-if="discus.expanded[doc.unid] !== 'attached' && discus.comments.length > 4"
             dd-text-collapse dd-text-collapse-max-height="57"
             class="text-content">
          <div ng-bind-html="doc.body | linkCreate:doc.locale | quoteAuthor | trustAsHtml"
               class="ddColl"></div>
        </div>

        <div ng-if="discus.expanded[doc.unid] === 'attached' ||  discus.comments.length < 5"
             ng-bind-html="doc.body | linkCreate:doc.locale | quoteAuthor | trustAsHtml"
             class="text-content"></div>

        <upload-list model="doc.attachments"></upload-list>
      </div>
      
      <div ng-if="!discus.fastReplyMsg" class="blue martop10">
        <span class="touch"
              ng-click="$parent.discus.quote='';$parent.discus.showEditForm('message')"
              log-click="Дискуссии::Кнопка <Ответить> в сообщении дискуссии">
          Ответить
        </span>
      </div>
    </div>
  </div>
</article>
