<div class="panel" style="position: absolute; z-index: 1000; max-width: 400px;">
  <div class="modal-header">
    <a href class="black"
       ng-click="theUser.new_password = ''; theUser.new_password_2 = ''; pwd.show=false;"
       title="Отмена"
       log-click="Профиль пользователя::Кнопка <Отмена> во всплывающем окне изменения пароля в профиле пользователя">
      <i class="material-icons text-s16 dark-grey" style="vertical-align: sub;">arrow_back</i>
    </a>
    <span class="text-s16">Смена пароля</span>
    <div ng-switch on="pwdStrength" style="display: inline-block; margin-left: 20px;">
      <span ng-switch-when="0" ng-show="theUser.new_password" class="red">Слабый</span>
      <span ng-switch-when="1" ng-show="theUser.new_password" class="orange">Средний</span>
      <span ng-switch-when="2" ng-show="theUser.new_password" class="green">Сильный</span>
      <span class="badge touch"
            ng-click="pwdAlert()"
            ng-attr-title="{{pwdMessage}}"
            log-click="Профиль пользователя::Кнопка <?> во всплывающем окне изменения пароля в профиле пользователя">(?)</span>
    </div>
  </div>
  <div class="modal-body">
    <div class="input-group underlined">
      <label for="pass" class="input-group-addon no-border no-background text-s12 padleft0">Новый пароль:</label>
      <input type="password"
             ng-model="theUser.new_password"
             ng-change="validationInputPwdText(theUser.new_password)"
             id="pass"
             class="form-control text-s12 no-border"
             log-click="Профиль пользователя::Поле <Новый пароль> во всплывающем окне изменения пароля в профиле пользователя"/>
    </div>
    <div class="input-group underlined" ng-class="{redunderline:((theUser.new_password.length > 0) && (theUser.new_password_2 != theUser.new_password))}">
      <label for="pass_2" class="input-group-addon no-border no-background text-s12 padleft0">Подтвердите новый пароль:</label>
      <input type="password"
             ng-model="theUser.new_password_2"
             id="pass_2"
             autocomplete="off"
             class="form-control text-s12 no-border"
             log-click="Профиль пользователя::Поле <Подтвердите новый пароль> во всплывающем окне изменения пароля в профиле пользователя"/>
    </div>
  </div>
  <a href ng-click="pwd.show=false; save(theUser);"
     ng-class="{disabled:((theUser.new_password.length > 0) && ((theUser.new_password_2 != theUser.new_password) || (pwdStrength < 2)))}"
     class="blue pad10 pull-right"
     log-click="Профиль пользователя::Кнопка <Готово> во всплывающем окне изменения пароля в профиле пользователя">
    ГОТОВО
  </a>
</div>